$primary-color: hsl(240, 5%, 15%);
$secondary-color: hsl(240, 5%, 25%);
$foreground-color: hsl(0, 0%, 90%);
$stroke-color: hsl(0, 0%, 40%);
$hover-color: hsl(240, 5%, 13%);
$input-color: hsl(240, 5%, 11%);
$disabled-color: hsl(240, 0%, 17%);